* {
  font-size: 10px;
  margin: 0;
  padding: 0;
}


#main {
 margin: 50px;
}

.one {
  display: flex;
  justify-content: space-between;
}

.one > h1 {
  font-size: 3rem;
  color: olivedrab;
}

.one > p {
  font-size: 2rem;
  color: orangered;
}

.two {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#hero-card{
  box-sizing: border-box;
  display: block;
  width: 200px;
  height: 120px;
  border: 3px solid;
  color: #003566;
}

#hero-card p {
  font-size: 20px;
  text-align: center;
  padding-top: 5px;
}